# 4.8.1 Grouping Data & Aggregating Variables Task
## 4.8.1.0 Initialization
## 4.8.1.1 Order Number mean grouped by Department ID
##

## 4.8.1.0 Initialization

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = '/Users/matthewmacbook/Documents/CareerFoundry/Data Immersion/Achievement 4 - Python Fundamentals for Data Analysts/Instacart Basket Analysis 26-07-2023'

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_busy.pkl'))

## 4.8.1.1 Order Number mean grouped by Department ID

In [4]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## 4.8.1.2 Create Loyalty Flag

In [5]:
# create new column 'max_order' using the max number order number per user ID

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [6]:
# create loyalty flag based on loc() function on max order per user ID

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [10]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Regularly busy,Least busy,Average orders,10,New customer
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Regularly busy,Least busy,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Least busy,Least busy,Average orders,10,New customer
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Least busy,Least busy,Most orders,10,New customer
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Average orders,10,New customer
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,10,New customer
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,10,New customer
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,10,New customer
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,both,Least busy,Least busy,Average orders,10,New customer
10,2968173,15,15,1,9,7.0,False,196,2,0,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,22,Regular customer
11,1870022,15,17,2,16,8.0,False,196,6,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,22,Regular customer
12,1911383,15,18,2,11,7.0,False,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,22,Regular customer
13,2715276,15,21,1,9,7.0,False,196,1,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,22,Regular customer
14,487368,15,22,1,10,14.0,False,196,1,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,22,Regular customer

In [11]:
ords_prods_merge.groupby('loyalty_flag')['prices'].mean()

loyalty_flag
Loyal customer      10.386336
New customer        13.294670
Regular customer    12.495717
Name: prices, dtype: float64

## 4.8.1.2 Create Spender Flag

In [12]:
# create average order price column using mean of product price per user ID

ords_prods_merge['average_order_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [14]:
ords_prods_merge.head(35)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_order_price
0,2539329,1,1,2,8,NaN,True,196,1,0,...,77,7,9.0,both,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,False,196,1,1,...,77,7,9.0,both,Regularly busy,Least busy,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,False,196,1,1,...,77,7,9.0,both,Regularly busy,Least busy,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,False,196,1,1,...,77,7,9.0,both,Least busy,Least busy,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,False,196,1,1,...,77,7,9.0,both,Least busy,Least busy,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,False,196,1,1,...,77,7,9.0,both,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,False,196,1,1,...,77,7,9.0,both,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,False,196,2,1,...,77,7,9.0,both,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,False,196,4,1,...,77,7,9.0,both,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,False,196,1,1,...,77,7,9.0,both,Least busy,Least busy,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,False,196,2,0,...,77,7,9.0,both,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,False,196,6,1,...,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,False,196,1,1,...,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,False,196,1,1,...,77,7,9.0,both,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,False,196,1,1,...,77,7,9.0,both,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
15,2293453,19,2,5,14,6.0,False,196,3,0,...,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059
16,1973799,19,5,6,12,8.0,False,196,15,1,...,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059
17,532817,19,7,4,17,6.0,False,196,1,1,...,77,7,9.0,both,Least busy,Least busy,Average orders,9,New customer,8.372059
18,1573906,21,10,3,10,6.0,False,196,2,0,...,77,7,9.0,both,Regularly busy,Least busy,Most orders,33,Regular customer,7.012683
19,1593000,31,10,3,8,7.0,False,196,17,0,...,77,7,9.0,both,Regularly busy,Least busy,Average orders,20,Regular customer,8.137793
20,2231262,31,17,3,11,8.0,False,196,14,1,...,77,7,9.0,both,Regularly busy,Least busy,Most orders,20,Regular customer,8.137793
21,2580647,43,6,4,16,4.0,False,196,9,0,...,77,7,9.0,both,Least busy,Least busy,Most orders,11,Regular customer,7.444898
22,2187180,43,9,4,12,3.0,False,196,1,1,...,77,7,9.0,both,Least busy,Least busy,Most orders,11,Regular customer,7.444898
23,2497897,52,1,1,9,NaN,True,196,4,0,...,77,7,9.0,both,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287
24,1318871,52,2,1,10,7.0,False,196,5,1,...,77,7,9.0,both,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287
25,1261384,52,3,1,10,7.0,False,196,3,1,...,77,7,9.0,both,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287
26,580568,52,5,2,10,8.0,False,196,6,1,...,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287
27,2428073,52,7,2,7,8.0,False,196,5,1,...,77,7,9.0,both,Regularly busy,Regularly busy,Average orders,27,Regular customer,6.356287
28,342306,52,9,1,11,7.0,False,196,5,1,...,77,7,9.0,both,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287
29,1520353,52,10,2,10,8.0,False,196,4,1,...,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287
30,2542086,52,11,2,9,7.0,False,196,3,1,...,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287
31,944694,52,12,1,16,6.0,False,196,7,1,...,77,7,9.0,both,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287
32,1268191,52,15,2,11,8.0,False,196,3,1,...,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287
33,1122089,52,17,2,10,6.0,False,196,4,1,...,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287
34,1498922,52,18,2,10,14.0,False,196,6,1,...,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287

In [15]:
# create spender flag using loc() function on average product price per user ID

ords_prods_merge.loc[ords_prods_merge['average_order_price'] >= 10, 'spender_flag'] = 'High spender'
ords_prods_merge.loc[ords_prods_merge['average_order_price'] < 10, 'spender_flag'] = 'Low spender'

In [18]:
ords_prods_merge['spender_flag'].value_counts(False)

Low spender     31770614
High spender      634245
Name: spender_flag, dtype: int64

## 4.8.1.3 Create Order Frequency Flag

In [19]:
# create 'order_frequency_median' column with median of 'days_since_prior_order' per user ID

ords_prods_merge['order_frequency_median'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [20]:
# create 'order_frequency_median' column based on 'order_frequency_median'

ords_prods_merge.loc[ords_prods_merge['order_frequency_median'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['order_frequency_median'] <= 20) & (ords_prods_merge['order_frequency_median'] > 10), 'order_frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['order_frequency_median'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [21]:
ords_prods_merge['order_frequency_flag'].value_counts(False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
Name: order_frequency_flag, dtype: int64

In [22]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_flagged.pkl'))